# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual env
venv/
.env

# Artifacts (ML)
artifacts/
*.joblib

# OS
.DS_Store
Thumbs.db
*:Zone.Identifier

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
